<header th:fragment="showModal"
    xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: lightgray">
                <h1 class="modal-title" id="exampleModalLabel">Shipping Type</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background: antiquewhite">
                <b>Id: </b><span th:text="${shippingType.id}"></span><br>
                <b>Shipping En: </b><span th:text="${shippingType.shippingTypeEn}"></span><br>
                <b>Shipping Pl: </b><span th:text="${shippingType.shippingTypePl}"></span><br>
                <b>Shipping Coast: </b><span th:text="${shippingType.shippingTypePl}"></span><br>
                <b><label>Description:</label></b><br>
                <span th:text="${shippingType.description}"></span>
            </div>
            <div class="modal-footer" style="background: lightgray">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</header>