<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Edit Shipping</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero py-5">
            <div class="container">
                <div class="card shadow-sm mb-4">
                    <h1 class="display-4" style="text-align: center">EDIT Setting</h1>
                    <hr class="my-2">
                    <div class="container">
                        <div class="card-body">
                            <form th:action="@{/setting/edit}" method="post" th:object="${settingForm}">
<!--                                <div class="form-row align-items-center">-->
<!--                                    <input class="form-control form-control-sm mb-2" type="text" th:field="*{id}" placeholder="Id" readonly th:type="hidden" />-->
<!--                                    <input class="form-control form-control-sm mb-2" type="text" th:field="*{createdAt}" placeholder="created At" readonly th:type="hidden" />-->
<!--                                </div>-->
                                <div class="form-group col-md-3">
                                    <div class="d-flex align-items-center mb-2">
                                        <label for="idOrder" class="mr-2 mb-0">Id:</label>
                                        <input class="form-control form-control-sm" type="text" id="idOrder"
                                               th:field="*{id}" style="max-width: 80px;" readonly>
                                    </div>
                                    <input class="form-control form-control-sm mb-2" type="text"
                                           th:field="*{createdAt}" style="max-width: 220px;" placeholder="Created At" readonly>
                                    <input class="form-control form-control-sm" type="text"
                                           th:field="*{updatedAt}" style="max-width: 220px;" placeholder="Updated At" readonly>
                                </div>
                                <div th:replace="~{setting/setting/_form :: form}"></div>
                                <hr class="my-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Lewa strona: przycisk back -->
                                    <div>
                                        <a th:replace="~{fragments/button/_button-back :: back(back = '/setting')}"></a>
                                    </div>
                                    <!-- Prawa strona: przyciski Wyczyść i Zapisz -->
                                    <div>
                                        <button type="submit" class="btn btn-primary">Zapisz</button>
                                    </div>
                                </div>
<!--                                <p> <input type="submit" value="Zapisz Zmiany" class="btn btn-sm btn-primary"></p>-->
                            </form>
                        </div>
<!--                        <div>-->
<!--                            <a th:replace="~{fragments/button/_button-back :: back(back = '/setting')}"></a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>