<div th:fragment="currencybar">
    <html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
    <!-- Currency Bar Fragment -->

    <div class="bg-dark text-white py-1">
        <div class="container d-flex justify-content-center">
            <small>
                EUR: <span>4.40</span> •
                USD: <span>4.05</span> •
                GBP: <span>5.20</span> •
                CHF: <span>4.55</span>
            </small>
        </div>
    </div>
    </body>
    </html>
</div>