<header th:fragment="form"
    xmlns:th="http://www.thymeleaf.org">

    <div class="form-row">
        <div class="col-md-4">
            <label class="m-0" for="status">Quality</label><br>
            <input class="form-control form-control-sm mb-2"
                   th:classappend="${#fields.hasErrors('status')} ? ' is-invalid' : ''"
                   id="status" type="text" th:field="*{status}"
                   placeholder="Status">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}"
                 th:errors="*{status}">
                Niepoprawna wartość
            </div>
        </div>
        <div class="col-md-4">
            <label class="m-0" for="statusPl">Status Pl</label><br>
            <input class="form-control form-control-sm mb-2" type="text" id="statusPl" th:field="*{statusPl}" placeholder="Status Pl"/>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" th:field="*{description}" placeholder="Tutaj możesz dodać dodatkowe informacje"></textarea>
    </div>
    <hr class="my-2">


<!--    <table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Status</label><br>-->
<!--                <input class="input" type="text" th:field="*{status}" placeholder="Status" />-->
<!--                <div th:if="${#fields.hasErrors('status')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{status}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <label>Status Pl</label><br>-->
<!--                <input class="input" type="text" th:field="*{statusPl}" placeholder="Status Pl"/>-->
<!--&lt;!&ndash;                <div th:if="${#fields.hasErrors('status')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >&ndash;&gt;-->
<!--&lt;!&ndash;                    <span th:errors="*{status}" ></span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </td>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Description</label><br>-->
<!--                <div>-->
<!--                    <textarea class="input" th:field="*{description}" placeholder="Description"></textarea>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
</header>