<header th:fragment="showModal"
    xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: lightgray">
                <h1 class="modal-title" id="exampleModalLabel">Status</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background: antiquewhite">
                <b>Id: </b><span th:text="${status.id}"></span><br>
                <b>Status: </b><span th:text="${status.status}"></span><br>
                <b>Status Pl: </b><span th:text="${status.statusPl}"></span><br>
                <b><label>Description:</label></b><br>
                <span th:text="${status.description}"></span>
            </div>
            <div class="modal-footer" style="background: lightgray">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</header>