<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Status</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="jumbotron container">
            <section class="hero">
                <div class="container" style="text-align: left">
                    <h1 style="text-align: center">STATUS</h1>
                    <hr class="my-2">
                    <a th:href="@{/status/new}" class="btn btn-sm btn-primary">Add new Status</a>
                    <hr class="my-2">
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>Lp:</th>
                            <th>Status</th>
                            <th>Status Pl</th>
                            <th>Desctiption</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <Block th:each="status, i : ${statusDtos}">
                            <tr>
                                <td th:text="${i.index + 1}" class="pt-1 pb-1"></td>
                                <td th:text="${status.status}" th:class="${status.status.replace(' ', '_')}" class="pt-1 pb-1"></td>
                                <td th:text="${status.statusPl}" class="pt-1 pb-1"></td>
                                <td th:text="${status.description}" class="pt-1 pb-1"></td>
                                <td class="pt-1 pb-1">
                                    <a th:href="@{'/status/show/' + ${status.id}}" class="btn btn-sm btn-info" style="font-size: 10px" data-toggle="modal" th:attr="data-target='#status-' + ${status.id}" >SHOW</a>
                                    <div class="modal fade" th:attr="id= 'status-' + ${status.id}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div th:replace="~{setting/status/_showModal :: showModal}"></div>
                                    </div>
                                    <a th:href="@{'/status/edit/' + ${status.id}}" class="btn btn-sm btn-primary" style="font-size: 10px" >EDIT</a>
<!--                                    <a th:href="@{'/status/delete/' + ${status.id}}" class="btn btn-sm btn-danger" style="font-size: 10px">Delete</a>-->
                                    <a th:href="@{'/status/delete/' + ${status.id}}" class="btn btn-sm btn-danger" style="font-size: 10px" data-toggle="modal" th:attr="data-target='#deleteStatus' + ${status.id}" >Delete</a>
                                    <div class="modal fade" th:attr="id= 'deleteStatus' + ${status.id}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div th:replace="~{setting/status/_confirmDeleteModal :: confirmDeleteModal}"></div>
                                    </div>
                                </td>
                            </tr>
                        </Block>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</body>
</html>