<header th:fragment="form"
    xmlns:th="http://www.thymeleaf.org">
    <table>
        <tr>
            <td>
                <label>Quality</label><br>
                <input class="input" type="text" th:field="*{quality}" placeholder="Quality" />
                <div th:if="${#fields.hasErrors('quality')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >
                    <span th:errors="*{quality}" ></span>
                </div>
            </td>
            <td>
                <label>Quality Pl</label><br>
                <input class="input" type="text" th:field="*{qualityPl}" placeholder="Quality Pl"/>
<!--                <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{name}" ></span>-->
<!--                </div>-->
            </td>
        <tr>
            <td>
                <label>Description</label><br>
                <div>
                    <textarea class="input" th:field="*{description}" placeholder="Description"></textarea>
                </div>
            </td>
        </tr>
    </table>
</header>