<div th:fragment="lightBox"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="column" style="float: left; padding: 10px 10px 10px 10px">
            <img th:src="${coin.aversPath}" style="max-width: 100%; max-height: 350px" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        </div>
        <div class="column" style="float: left; padding: 10px 10px 10px 10px">
            <img th:src="${coin.reversePath}" style="max-width: 100%; max-height: 350px" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
        </div>
    </div>

    <div id="myModal" class="modal-light-box">
        <span class="close-light-box cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content-light-box">

            <div class="mySlides" style="text-align: center">
                <div class="numbertext">1 / 2</div>
                <img th:src="${coin.aversPath}" style="max-width:100%; max-height: 600px">
            </div>

            <div class="mySlides" style="text-align: center">
                <div class="numbertext">2 / 2</div>
                <img th:src="${coin.reversePath}" style="max-width:100%; max-height: 600px">
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>
            <div class="row text-center align-items-start" style="padding-top: 10px; padding-left: 20px; padding-right: 20px">
                <div class="col-6 col-md-4 mb-3">
                    <img class="demo cursor img-fluid rounded shadow-sm"
                         th:src="${coin.aversPath}"
                         onclick="currentSlide(1)"
                         th:alt="${coin.denomination} + ' ' + ${coin.nameCurrency}">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="demo cursor img-fluid rounded shadow-sm"
                         th:src="${coin.reversePath}"
                         onclick="currentSlide(2)"
                         th:alt="${coin.denomination} + ' ' + ${coin.nameCurrency}"
                         th:title="'test Tytułu'">
                </div>
                <div class="col-12 col-md-4 text-left">
                    <b>OPIS</b>
                    <hr class="my-2">
                    <div>
                        <b>Country: </b><span th:text="${coin.currencies.countries.countryEn}"></span><br>
                        <b>Series: </b><span th:text="${coin.currencies.currencySeries}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>