<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>NBP</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="container" style="text-align: center">
        <img src="images/pecunia.png" style="width: 100px"/>
        <img src="images/logo2.png" style="width: 15%"/>

    </div>
    <div class="jumbotron">
        <H1 style="text-align: center">------- NBP GOLD --------</H1>
        <div style="display: flex; justify-content: center; align-items: center; float: left">
            <table class="table table-striped table-bordered table-hover table-sm" style="width: auto">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <Block th:each="price, i : ${priceStatistics}">
                    <tr>
                        <td th:text="${price.getName()}" class="pt-1 pb-1 pl-1 pr-1"></td>
                        <td th:text="${#numbers.formatDecimal(price.getPrice,1,2,'COMMA')}" class="pt-1 pb-1 pb-1 pl-2 pr-2"></td>
                        <td th:text="${price.getDate()}" class="pt-1 pb-1 pl-2 pr-2"></td>
                    </tr>
                </Block>
                </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: center; align-items: center">
            <table class="table table-striped table-bordered table-hover table-sm" style="width: auto">
                <thead class="thead-dark">
                <tr>
                    <th>lp</th>
                    <th>Data:</th>
                    <th>Cena</th>
                    <th>Zmiana</th>
                </tr>
                </thead>
                <tbody>
                <Block th:each="nbpGold, i : ${npbGoldList}">
                    <tr>
                        <td th:text="${i.index + 1}" class="pt-1 pb-1 pl-1 pr-1"></td>
                        <td th:text="${nbpGold.getDate()}" class="pt-1 pb-1 pb-1 pl-2 pr-2"></td>
                        <td th:text="${#numbers.formatDecimal(nbpGold.getPrice,1,2,'COMMA')}" class="pt-1 pb-1 pl-2 pr-2"></td>
                        <td th:text="${#numbers.formatPercent(nbpGold.getChange,1,4)}" class="pt-1 pb-1 pl-2 pr-2" style="text-align: right"></td>
                    </tr>
                </Block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>