<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Medal Edit</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 style="text-align: center">MEDAL EDIT</h1>
        <hr class="my-2">
        <form th:action="@{/medal/edit}" method="post" th:object="${medalForm}">
            <div>
                <label class="m-0">Id</label>
                <input class="form-control form-control-sm mb-2" type="text" th:field="*{id}" placeholder="Id" style="max-width: 80px" readonly/>
                <input class="form-control form-control-sm mb-2" type="text" th:field="*{created_at}" readonly th:type="hidden"/>
            </div>
            <div th:replace="~{medal/_form :: form}"></div>
            <p> <input type="submit" value="Zapisz Zmiany" class="btn btn-sm btn-primary"></p>
        </form>
        <hr class="my-2">
        <div class="row row-cols-1" style="margin-left: 20px; margin-right: 20px; max-height: 100%" >
            <div th:replace="~{medal/fragments/_lightBoxMedal :: lightBox(medal = ${medalInfoLightBox})}"></div>
            <div class="container col field" style="padding: 10px 10px 10px 10px">
            </div>
        </div>
        <hr class="my-2">
        <div class="container" style="display: inline-block">
            <a th:replace="~{fragments/button/_button-show :: show(show = '/medal/show/' + ${medalForm.id})}"></a>
            <a th:replace="~{fragments/button/_button-back :: back(back = '/medal/medal_list/?currencySeries=' + ${medalForm.currencies.currencySeries} + '&curId=' + ${medalForm.currencies.id})}"></a>
        </div>
    </div>
</div>
</body>
</html>