<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Medal Country</title>
</head>

<body>

<div layout:fragment="content">

    <section class="jumbotron bg-success-subtle">

        <div class="container">

            <h1 class="display-4 text-center">
                Medal Country
            </h1>

            <hr class="my-3">

            <form th:action="@{/medal}"
                  method="get"
                  class="form-inline my-3">

                <input type="text"
                       name="keyword"
                       th:value="${keyword}"
                       class="form-control form-control-sm mr-2"
                       placeholder="Search country..."
                       aria-label="Search">

                <button class="btn btn-success btn-sm"
                        type="submit">
                    Search
                </button>

            </form>

            <hr class="my-3">

            <div class="row g-3">

                <th:block th:each="country : ${countries}">

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3">

                        <div class="card h-100 shadow-sm border-0">

                            <div class="card-body text-center">

                                <a th:href="@{/medal/currency/{countryEn}(countryEn=${country.countryEn})}"
                                   class="text-decoration-none text-dark">

                                    <img th:src="@{'/images/flags/' + ${country.countryEn} + '.png'}"
                                         th:alt="${country.countryEn}"
                                         class="img-fluid mb-2"
                                         style="max-height: 60px">

                                    <div class="small fw-bold"
                                         th:text="${country.countryEn}">
                                    </div>

                                </a>

                            </div>

                        </div>

                    </div>

                </th:block>

            </div>

        </div>

    </section>

</div>

</body>
</html>