<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Country</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="container" style="text-align: center; margin-top: 15px">
            <img th:src="@{'/images/continents/' + ${continent.continentCode} + '.png'}" style="width: 100px"/><br>
            <h1>country</h1>
        </div>

        <div class="container">
            <div class="row">
                <Block th:each="country : ${continent.countries}">
                    <div class="col-sm-2" style="width: 170px">
                        <div calss="container" style="margin: 15px; width: 160px">
                            <img th:src="@{'/images/flags/' + ${country.countryEn} + '.png'}" style="width: 80px; max-height: 60px"/><br>
                            <span th:text="${country.countryPl}" style="font-size: small; display: flex"></span>
                        </div>
                    </div>
                </Block>
            </div>
        </div>
    </div>

</body>
</html>