<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>CONTINENT</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero">
            <div class="container">
                <h1 style="text-align: center">CONTINENT</h1>
                <a th:href="@{/continent/new}" class="btn btn-sm btn-primary">Add new Continent</a>

                <div class="container">
                    <div class="row">
                        <Block th:each="continent : ${continents}">
                            <div class="col-sm-2" style="text-align: center; max-width: 100%">
                                <div calss="container" style="margin: 15px">
                                    <a th:href="@{'/continent/?selectContinent=' + ${continent.continentEn}}">
                                        <img th:src="@{'/images/continents/' + ${continent.code} + '.png'}" style="width: 150px"/>
                                    </a><br>
                                    <span th:text="${continent.total}"></span>
                                </div>
                            </div>
                        </Block>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>