<div th:fragment="medal-show"
     xmlns:th="http://www.thymeleaf.org">
<!--     xmlns:th="http://www.w3.org/1999/xhtml"-->
    <th:block th:with="isAdmin=${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <hr class="my-2">
            <div class="container">
                <div style="text-align: center">
                    <h3 th:text="${medal.currencies.currencySeries}"></h3>
                </div>
                <hr class="my-2">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
                    <div th:if="${isAdmin}" class="col field " style="float: left">
                        <div th:replace="~{fragments/_field :: field('Id:', ${medal.id})}"></div>
                        <div th:replace="~{fragments/_field :: field('Date Buy:', ${medal.dateBuy})}"></div>
                        <span th:if=" ${medal.boughts} != null">
                        <div th:replace="~{fragments/_field :: field('Bought:', ${medal.boughts.name})}"></div>
                        </span>
                        <div th:replace="~{fragments/_field :: field('Visible:', ${medal.visible})}"></div>
                        <div th:replace="~{fragments/_field :: field('Created:', *{#calendars.format(medal.created_at,'yyyy-MM-dd HH:mm:ss')})}"></div>
                        <div th:replace="~{fragments/_field :: field('Updated:', *{#calendars.format(medal.updated_at,'yyyy-MM-dd HH:mm:ss')})}"></div>
                    </div>
                    <div class="col field" style="float: left">
                        <div th:replace="~{fragments/_field :: field('Denomination:', ${medal.nameCurrency})}"></div>
                        <div th:replace="~{fragments/_field :: field('Data:', ${medal.itemDate})}"></div>
                        <div th:replace="~{fragments/_field :: field('Series:', ${medal.series})}"></div>
                        <div th:replace="~{fragments/_field :: field('Image Type:', ${medal.imageTypes.type})}"></div>
                        <div th:replace="~{fragments/_field :: field('Quality:', ${medal.qualities.quality})}"></div>
                        <strong>Quantity: </strong>
                        <span th:text="${medal.quantity}"></span>
                        <span th:text="${medal.unitQuantity}"></span><br>
                        <div th:replace="~{fragments/_field :: field('Actives:', ${medal.actives.name})}"></div>
                    </div>
                    <div class="col field" style="float: left">
                        <div th:replace="~{fragments/_field :: field('Diameter:', ${#numbers.formatDecimal(medal.diameter,1,2)} + 'mm')}"></div>
                        <div th:replace="~{fragments/_field :: field('Thickness:', ${#numbers.formatDecimal(medal.thickness,1,2)} + 'mm')}"></div>
                        <div th:replace="~{fragments/_field :: field('Weight:', ${#numbers.formatDecimal(medal.weight,1,2)} + 'mm')}"></div>
                        <div th:if="${isAdmin}">
                            <div th:replace="~{fragments/_field :: field('Price Buy:', ${#numbers.formatDecimal(medal.priceBuy,1,2)} + 'zł')}"></div>
                            <div th:replace="~{fragments/_field :: field('Price Sell:', ${#numbers.formatDecimal(medal.priceSell,1,2)} + 'zł')}"></div>
                        </div>
                        <div th:replace="~{fragments/_field :: field('Status:', ${medal.statuses.status})}"></div>
                        <div th:replace="~{fragments/_field :: field('Status Sell:', ${medal.statusSell})}"></div>
                    </div>
                </div>
            </div>
        <hr class="my-2">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col field " style="float: left">
                    <label>Description:</label>
                    <textarea th:text="${medal.description}" style="width: 100%; height: 125px; color: black; resize: none; background: darkgray;" disabled></textarea>
                </div>
                <div class="col field " style="float: left">
                    <label>Composition:</label>
                    <textarea th:text="${medal.composition}" style="width: 100%; height: 125px; color: black; resize: none; background: darkgray;" disabled></textarea>
                </div>
            </div>
        <hr class="my-2">
        <div th:replace="~{medal/fragments/_lightBoxMedal :: lightBox}"></div>
    </th:block>
</div>