<header th:fragment="form"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <section class="hero">
        <div class="container">
            <div th:replace="~{fragments/_flag :: flag(country = ${currencies[0].countries.countryEn})}"></div>

        </div>
<!--        <h1>DODAWANIE NOWEGO BANKNOTU</h1>-->
    </section>

        <!-- 1 wiersz -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="m-0" for="curSer">Currency Series</label>
                <select class="form-control form-control-sm mb-2" id="curSer" th:field="*{currencies.id}">
                    <span th:if="*{currencies.id == null}">
                        <option value="">SELECT CURRENCY</option>
                    </span>
                    <option th:each="currency : ${currencies}"
                            th:value="${currency.id}"
                            th:text="${currency.currencySeries}">
                        Currency Series
                    </option>
                </select>
            </div>
        </div>


        <!-- 2 wiersz -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="m-0">Date Buy</label>
                <input class="form-control form-control-sm mb-2" type="date" th:max="${#dates.format(standartDate, 'yyyy-MM-dd')}" th:field="*{dateBuy}">
                <div th:if="${#fields.hasErrors('dateBuy')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >
                    <!--                <span th:errors="*{dateBuy}" ></span>-->
                    <span th:text="${errorDateBuy}"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="m-0">Bought</label>
                <select class="form-control form-control-sm mb-2" th:field="*{boughts.id}">
                    <span th:if="*{boughts.id == null}">
                        <option value="">SELECT BOUGHT</option>
                    </span>
                    <option th:each="bought : ${boughts}"
                            th:value="${bought.id}"
                            th:text="${bought.name}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('boughts.id')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >
                    <span th:errors="*{boughts.id}" ></span>
                </div>
            </div>
        </div>


</header>