<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Note New</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero py-5">
            <div class="container">
                <div class="card shadow-sm mb-4">
    <!--        <div class="jumbotron">-->
                <h1 class="display-4" style="text-align: center">NOTE NEW</h1>
                <hr class="my-2">
                    <div class="container">
                        <div class="card-body">
                            <form th:action="@{/note/new}" method="post" th:object="${noteForm}">
                                <div th:replace="~{note/_form :: form}"></div>
<!--                                <p> <input type="submit" value="Dodaj" class="btn btn-sm btn-primary"></p>-->
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Lewa strona: przycisk back -->
                                    <div>
                                        <a th:replace="~{fragments/button/_button-back :: back(back = '/note/note_list/?currencySeries='
                                                    + ${noteForm.currencies.currencySeries}
                                                    + '&curId='
                                                    + ${noteForm.currencies.id})}">
                                        </a>
                                    </div>

                                    <!-- Prawa strona: przyciski Wyczyść i Zapisz -->
                                    <div>
                                        <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>
                                        <button type="submit" class="btn btn-primary">Zapisz</button>
                                    </div>
                                </div>
<!--                                <div class="d-flex justify-content-end">-->
<!--                                    <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>-->
<!--                                    <button type="submit" class="btn btn-primary">Zapisz</button>-->
<!--                                    <div>-->
<!--                                        <a th:replace="~{fragments/button/_button-back :: back(back = '/note/note_list/?currencySeries='-->
<!--                                                + ${noteForm.currencies.currencySeries}-->
<!--                                                + '&curId='-->
<!--                                                + ${noteForm.currencies.id})}">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->

                            </form>
                        </div>
                    </div>
    <!--        </div>-->
                </div>
            </div>
        </section>
    </div>
</body>
</html>