<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Country</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero py-5">
        <div class="card container" style="margin-bottom: 30px">
            <h2 class="display-4" style="text-align: center">CURRENCY COLECTION</H2>
            <hr class="my-2">
            <div th:replace="~{fragments/_flag :: flag(country = ${currencyByStatusList[0].countryEn})}"></div>
            <hr class="my-2">
            <div style="display: flex;">
                <a th:replace="~{fragments/button/_button-back :: back(back = '/note/collection/country/?selectContinent=' + ${currencyByStatusList[0].continentEn})}"></a>
            </div>
            <hr class="my-2">

            <div class="form-row align-items-center">
                <th:block th:each="currency : ${currencyByStatusList}">
                    <div class="col-sm-3 card-body justify-content-between align-items-center">
                    <a th:href="@{'/note/collection/notes/?selectCurrencyId=' + ${currency.currencyId} + '&status=KOLEKCJA'}">
                        <div class="col-auto currency-box ">
                            <span th:text="${currency.currencySeries}"></span><br>
                            <span>[[${'(' + currency.total + ')'}]]</span>
                        </div>
                    </a>
                    </div>
                </th:block>
            </div>
        </div>
        </section>
    </div>
</body>
</html>