<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Country</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero py-5">
            <div class="card container" style="margin-bottom: 30px">
                <h2 class="display-4" style="text-align: center">CURRENCY COLECTION</H2>
                <hr class="my-2">
                <div th:replace="~{fragments/_flag :: flag(country = ${currencyByStatusList[0].countryEn})}"></div>
                <hr class="my-2">
                <div >
                    <a th:replace="~{fragments/button/_button-back :: back(back = '/note/collection/country/?selectContinent=' + ${currencyByStatusList[0].continentEn})}"></a>
                </div>
                <hr class="my-2">
                <div class="container my-4">
                    <div class="form-row justify-content-center">
                        <th:block th:each="currency : ${currencyByStatusList}">
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center mb-4">
                                <a th:href="@{'/note/collection/notes/?selectCurrencyId=' + ${currency.currencyId} + '&status=KOLEKCJA'}"
                                   class="text-decoration-none">
                                    <div class="currency-box-bis text-center p-3">
                                        <span th:text="${currency.currencySeries}" class="font-weight-bold"></span><br>
                                        <span>[[${'(' + currency.total + ')'}]]</span>
                                    </div>
                                </a>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>