<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{layouts/layout}">

<head>
    <title>Country</title>
</head>
<body>
    <div layout:fragment="content"  class="container">

        <div class="jumbotron">
            <h2 class="display-4" style="text-align: center" >NOTES COLECTION</H2>
            <hr class="my-2">
            <H4 th:text="${notes[0].currencies.currencySeries}" style="text-align: center" ></H4>
            <hr class="my-2">
            <div th:replace="~{fragments/_flag :: flag(country = ${notes[0].currencies.countries.countryEn})}"></div>
            <hr class="my-2">
            <div style="display: flex;">
                <a th:replace="~{fragments/button/_button-back :: back(back = '/note/collection/currency/?selectCountryId=' + ${notes[0].currencies.countries.id})}"></a>
            </div>
            <hr class="my-2">
            <div class="form-row align-items-center">
                <div class="form-row align-items-center">
                    <th:block th:each="note : ${notes}">

                        <div class="col-auto note-box">
                            <div>
                                <div>
                                    <a th:href="@{'/note/collection/show/' + ${note.id}}" data-toggle="modal" th:attr="data-target='#Note-' + ${note.id}"
                                       style="display: flex; justify-content: center">
                                        <div th:replace="~{fragments/_image-midle :: image-midle(image = ${note.aversPath})}"></div>
                                        <div th:replace="~{fragments/_image-midle :: image-midle(image = ${note.reversePath})}"></div>
                                    </a>
                                    <div class="modal fade" th:attr="id= 'Note-' + ${note.id}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div th:replace="~{note/collection/_showModal :: showModal}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" style="text-align: left; font-size: small">
                                <span th:text="${note.denomination >= 1 ? #numbers.formatDecimal(note.denomination,1,0,'COMMA') :  #numbers.formatDecimal(note.denomination,1,2,'COMMA')} + ' ' + ${note.nameCurrency}"></span><br>
                                <span th:text="${'Year: ' + note.itemDate}"></span><br>
                                <span th:text="${'Quality: ' + note.qualities.quality}"></span><br>
                                <span th:text="${'Status: ' + note.statuses.status}"></span>
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <!--                                    This content is only shown to ADMIN.-->
                                    <p th:text="${'Visible: ' + note.visible}"></p>
                                </div>
                                <!--                                <a th:replace="fragments/button/_button-show :: show(show = '/note/collection/show/' + ${note.id})"></a>-->
                                <div style="margin-bottom: 5px">
<!--                                    <a th:href="@{'/note/collection/show/' + ${note.id}}" class="btn btn-sm btn-info" style="font-size: 10px" data-toggle="modal" th:attr="data-target='#Note-' + ${note.id}" >SHOW</a>-->
                                    <a th:href="@{'/note/collection/show/' + ${note.id}}" class="btn btn-sm btn-info" style="font-size: 10px"
                                    >SHOW</a>
                                </div>

                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <hr class="my-2">
            <div th:if="${totalPages} > 1" style="padding-bottom: 1px">
                <div th:replace="~{fragments/_pagination :: pagination(currencyId = ${notes[0].currencies.id})}"></div>
            </div>
        </div>
    </div>
</body>
</html>