<header th:fragment="item"
        xmlns:th="http://www.thymeleaf.org">

        <h1 class="display-4" style="text-align: center">Note</h1>
        <hr class="my-2">
        <div class="container">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead class="thead-dark">
                <tr>
                    <!--                <th>CON</th>-->
                    <th>Lp:</th>
                    <th>Id</th>
                    <th>Country</th>
                    <th>Denomination</th>
                    <th>Currency</th>
                    <th>Price Buy</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Bought</th>
                    <th>Image</th>
                    <th style="width: 150px">Akcja</th>
                </tr>
                </thead>
                <tbody th:with="totalPrice=0">
                <Block th:each="note, i : ${forSellNotesList}">
                    <p th:with="totalPrice=${totalPrice + (note.priceBuy * note.quantity)}"></p>
                    <tr>
                        <!--                    <td th:text="${country.getContinents().getContinentCode()}"></td>-->
                        <td th:text="${i.index +1}"></td>
                        <td th:text="${note.noteId}"></td>
                        <td th:text="${note.countryEn}"></td>
                        <td th:text="${#numbers.formatDecimal(note.denomination,1,2)}"></td>
                        <td th:text="${note.nameCurrency}"></td>
                        <td th:text="${#numbers.formatDecimal(note.priceBuy,1,2)}"></td>
                        <td th:text="${note.quantity}"></td>
                        <td th:text="${#numbers.formatDecimal((note.priceSell),1,2) }"></td>
                        <td th:text="${note.bought}"></td>
                        <td class="p-0 m-0" style="width: 100px">
                            <div style="display: flex; justify-content: center" data-toggle="modal" th:attr="data-target='#NoteAvers' + ${note.noteId}">
                                <div th:replace="~{fragments/_image-small :: image-small(image = ${note.aversPath})}"></div>
                                <div th:replace="~{fragments/_image-small :: image-small(image = ${note.reversePath})}"></div>
                            </div>
                            <div class="modal fade" th:attr="id= 'NoteAvers' + ${note.noteId}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div th:replace="~{note/newNote/_showModal :: showModal}"></div>
                            </div>
                        </td>
                        <td class="pt-1 pb-1">
                            <!--                            <a th:href="@{'/note/show/' + ${note.id}}" class="btn btn-sm btn-info" style="font-size: 10px">SHOW</a>-->
                            <a th:href="@{'/note/edit/' + ${note.noteId}}" class="btn btn-sm btn-primary" style="font-size: 10px">EDIT</a>
                            <!--                            <a th:href="@{'/note/delete/' + ${note.id}}" class="btn btn-sm btn-danger" style="font-size: 10px">DELETE</a>-->
                        </td>
                    </tr>
                </Block>
                </tbody>
            </table>
        </div>

</header>