<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Currency Edit</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1 style="text-align: center">CURRENCY EDIT</h1>

    <form th:action="@{/currency/edit}" method="post" th:object="${currencyForm}">
        <div>
            <label class="m-0">Id</label>
            <input class="form-control form-control-sm mb-2" type="text" th:field="*{id}" placeholder="Id" style="max-width: 80px" readonly/>
            <input class="form-control form-control-sm mb-2" type="text" th:field="*{created_at}" style="max-width: 220px" placeholder="created At" readonly/>
            <input class="form-control form-control-sm mb-2" type="text" th:field="*{updated_at}" style="max-width: 220px" placeholder="updated At" readonly/>
        </div>
        <div th:replace="~{currency/_form :: form}"></div>
        <p> <input type="submit" value="Zapisz Zmiany" class="btn btn-sm btn-primary"></p>
    </form>

</div>
</body>
</html>