/*body*/
/*{*/
/*    background: url("../images/mochaGrunge.png");*/
/*    !*background-color: #c4e1c1;*!*/
/*    !*background-color: aquamarine;*!*/
/*}*/

/*.navbar-light .navbar-nav .nav-link*/
/*{*/
/*    color: azure;*/
/*}*/

/*.navbar-light:hover .navbar-nav:hover .nav-link:hover*/
/*{*/
/*    color: lightgray;*/
/*}*/

/*.navbar-light .navbar-brand*/
/*{*/
/*    color: aliceblue;*/
/*}*/
/*.dropdown-menu*/
/*{*/
/*    background-color: darkgray;*/
/*}*/

.currencyBox
{
    width: 250px;
    min-height: 80px;
    margin: 10px;
    text-align: center;
    background: darkgrey;
}

.testt
{
    text-align: center;
}

.NOTE
{
    /*background: #2fff50d9;*/
    background: #27ae3cd9;
}

.COIN
{
    background: #53b2ff87;
}

.SECURITY
{
    background: #f90b0b57;
}

.MEDAL
{
    background: saddlebrown;
}


/*
*****************STATUS ORDER**********************************************
 */

.KOLEKCJA
{
    background-color: lightgreen;
    padding: 0 5px 0 5px;
}

.FOR_SELL
{
    background-color: lightcoral;
    padding: 0 5px 0 5px;
}
.SOLD
{
    background-color: yellow;
    padding: 0 5px 0 5px;
}

.OTHER
{
    background-color: gray;
    padding: 0 5px 0 5px;
}

.FUTURE
{
    background-color: lightskyblue;
    padding: 0 5px 0 5px;
}

.NEW
{
    background-color: orange;
    padding: 0 5px 0 5px;
}

/*
***************** STATUS **********************************************
*/

.Open
{
    background-color: lightgreen;
    padding: 0 5px 0 5px;
}

.Close
{
    background-color: lightcoral;
    padding: 0 5px 0 5px;
}
.Reservation
{
    background-color: yellow;
    padding: 0 5px 0 5px;
}

.Other
{
    background-color: gray;
    padding: 0 5px 0 5px;
}
/*************************************** Maney Metal ********************************************/
.gold
{
    background: gold;
}
.silver
{
    background: silver;
}
.copper
{
    background: coral;
}
.platinum
{
    background: fuchsia;
}
.btc
{
    background: blue;
}

/**************************Maney Metal END***************************/

/**************************MODAL CONFIRM DELETE**************************

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
    padding: 14px;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/****************************END MODAL************************************************/

/***************************START LIGHT BOX*****************************************************/

{
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal-light-box {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/*_________________________OLD LIGHTBOX SART_____________________________________*/
/* Modal Content */
.modal-content-light-box {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close-light-box {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close-light-box:hover,
.close-light-box:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    background-color: black;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    background: #e0dceccc;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*____________________________________OLD LIGHTBOX STOP____________________________________*/

/* --- LIGHTBOX POPRAWKA START--- */

.modal-light-box {
    position: fixed !important; /* wyjście poza container */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 3000; /* ponad navbar, card itd. */
    display: none;
    overflow: auto;
}

.modal-content-light-box {
    margin: auto;
    display: block;
    max-width: 90%;
    text-align: center;
}

.modal-content-light-box img {
    max-width: 100%;
    height: auto;
}

.close-light-box {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3100;
}

/* strzałki nawigacyjne */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    user-select: none;
    transform: translateY(-50%);
    z-index: 3100;
}

.prev { left: 10px; }
.next { right: 10px; }

.caption-container {
    text-align: center;
    padding: 10px;
    color: white;
}

/* ukryj scrollbar pod lightboxem */
body.modal-open {
    overflow: hidden;
}

/* --- LIGHTBOX POPRAWKA END--- */

/*--------------lightBox response-----------------------*/
.demo {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 150px;
    transition: transform 0.3s ease;
}

.demo:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .demo {
        max-height: 100px; /* mniejsze miniatury na telefonie */
    }

    .modal-content-light-box img {
        max-height: 70vh; /* zdjęcie w lightboxie dopasowane do ekranu */
        width: auto;
    }
}


/*--------------lightBox Response-------------------------*/

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*************************************END LIGHT BOX******************************************/

/*.stopka*/
/*{*/
/*    background-color: #bfbfbf;*/
/*    position:fixed;*/
/*    bottom:0;*/
/*    min-width:100%;*/
/*    !* height: 32px; *!*/
/*    !* margin-bottom: 10px; *!*/
/*    !* margin-left: 2%;*/
/*    margin-right: 2%; *!*/
/*    text-align: center;*/
/*    !* font-size: 20px; *!*/
/*}*/

.arrow-up {
    color: lightgreen;
}
.arrow-down {
    color: orangered;
}

