.currency-box
{
    width: 240px;
    min-height: 80px;
    margin: 10px;
    text-align: center;
    font-size: small;
    background: darkgrey;
    color: black;
}
.note-box
{
    width: 240px;
    min-height: 80px;
    margin: 10px;
    text-align: center;
    background: darkgrey;
    color: black;
}