.currency-box
{
    width: 240px;
    min-height: 80px;
    margin: 10px;
    text-align: center;
    font-size: small;
    background: darkgrey;
    color: black;
}
.note-box
{
    /*width: 240px;*/
    min-height: 80px;
    min-width: 230px;
    margin: 10px;
    text-align: center;
    /*background: darkgrey;*/
    background: rgba(180, 178, 178, 0.48);
    color: black;
}