<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>New Order Item</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero py-5">
            <div class="container">
                <div class="card shadow-sm mb-4">
                    <h1 class="display-4" style="text-align: center">NEW ORDER ITEM</h1>
                    <hr class="my-2">
                    <div class="container">
                        <div class="card-body">
                            <form th:action="@{/orderItem/new}" method="post" th:object="${orderItemForm}">
                                <div th:if="${orderItemForm.pattern} == 'NOTE'">
                                    <div th:replace="~{orderItem/_formNote :: form}"></div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Lewa strona: przycisk back -->
                                        <div>
                                            <a th:replace="~{fragments/button/_button-back :: back(back = '/orderItem/' + ${orderItemForm.orders.id})}"></a>
                                        </div>
                                        <!-- Prawa strona: przyciski Wyczyść i Zapisz -->
                                        <div>
                                            <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>
                                            <button type="submit" class="btn btn-primary">Zapisz</button>
                                        </div>
                                    </div>

<!--                                    <input type="submit" value="Dodaj" class="btn btn-sm btn-primary" style="  float: left; margin-right: 5px">-->
<!--                                    <a th:replace="fragments/button/_button-back :: back(back = '/order/' + ${orderForm.customers.uniqueId})"></a>                                        <a th:replace="~{fragments/button/_button-back :: back(back = '/order/' + ${orderForm.customers.uniqueId})}"></a>-->
<!--                                    <a th:replace="~{fragments/button/_button-back :: back(back = '/orderItem/' + ${orderItemForm.orders.id})}"></a>-->
                                </div>
                                <div th:if="${orderItemForm.pattern} == 'COIN'">
                                    <div th:replace="~{orderItem/_formCoin :: form}"></div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Lewa strona: przycisk back -->
                                        <div>
                                            <a th:replace="~{fragments/button/_button-back :: back(back = '/orderItem/' + ${orderItemForm.orders.id})}"></a>
                                        </div>
                                        <!-- Prawa strona: przyciski Wyczyść i Zapisz -->
                                        <div>
                                            <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>
                                            <button type="submit" class="btn btn-primary">Zapisz</button>
                                        </div>
                                    </div>
<!--                                    <input type="submit" value="Dodaj" class="btn btn-sm btn-primary" style="  float: left; margin-right: 5px">-->
                                    <!--                <a th:replace="fragments/button/_button-back :: back(back = '/order/' + ${orderForm.customers.uniqueId})"></a>-->
<!--                                    <a th:replace="~{fragments/button/_button-back :: back(back = '/orderItem/' + ${orderItemForm.orders.id})}"></a>-->
                                </div>
                                <div th:if="${orderItemForm.pattern} == 'SECURITY'">
                                    <div th:replace="~{orderItem/_formSecurity :: form}"></div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Lewa strona: przycisk back -->
                                        <div>
                                            <a th:replace="~{fragments/button/_button-back :: back(back = '/orderItem/' + ${orderItemForm.orders.id})}"></a>
                                        </div>
                                        <!-- Prawa strona: przyciski Wyczyść i Zapisz -->
                                        <div>
                                            <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>
                                            <button type="submit" class="btn btn-primary">Zapisz</button>
                                        </div>
                                    </div>
<!--                                    <input type="submit" value="Dodaj" class="btn btn-sm btn-primary" style="  float: left; margin-right: 5px">-->
                                    <!--                <a th:replace="fragments/button/_button-back :: back(back = '/order/' + ${orderForm.customers.uniqueId})"></a>-->
<!--                                    <a th:replace="~{fragments/button/_button-back :: back(back = '/orderItem/' + ${orderItemForm.orders.id})}"></a>-->
                                </div>
                            </form>
                            <div>
                <!--                <a th:replace="fragments/button/_button-back :: back(back = '/order/' + ${orderForm.customers.uniqueId})"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>>
    </div>
</body>
</html>