<header th:fragment="form"
        xmlns:th="http://thymeleaf.org">

    <div class="form-row">
        <div class="col-md-4">
            <label class="m-0" for="name">Name</label>
            <input class="form-control form-control-sm mb-2"
                   th:classappend="${#fields.hasErrors('name')} ? ' is-invalid' : ''"
                   id="name" type="text" th:field="*{name}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">
                Niepoprawna wartość
            </div>
        </div>
        <div class="col-md-6">
            <label class="m-0" for="fullName">Full Name</label>
            <input class="form-control form-control-sm mb-2"
                   th:classappend="${#fields.hasErrors('fullName')} ? ' is-invalid' : ''"
                   id="fullName" type="text" th:field="*{fullName}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}"
                 th:errors="*{fullName}">
                Niepoprawna wartość
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" th:field="*{description}" placeholder="Tutaj możesz dodać dodatkowe informacje"></textarea>
    </div>
    <hr class="my-2">

<!--    <div class="form-row align-items-center">-->
<!--            <div class="col-md-4">-->
<!--                <label>Name</label><br>-->
<!--                <input class="form-control form-control-sm mb-2" type="text" th:field="*{name}" placeholder="Name"/>-->
<!--                <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0 10px 0 10px" >-->
<!--                    <span th:errors="*{name}" ></span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <label>Full NAme</label><br>-->
<!--                &lt;!&ndash;                <b th:if="${checkActive == true}" style="color: red; font-size: 15px">Podana wartość już istnieje w bazie<br></b>&ndash;&gt;-->
<!--                <input class="form-control form-control-sm mb-2" type="text" th:field="*{fullName}" placeholder="Full Name" />-->
<!--&lt;!&ndash;                <div th:if="${#fields.hasErrors('activeCod')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >&ndash;&gt;-->
<!--&lt;!&ndash;                    <span th:errors="*{activeCod}" ></span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--    </div>-->
<!--            <div class="form-row align-items-center">-->
<!--                <div class="col">-->
<!--                    <label>Description</label><br>-->
<!--                    <textarea class="input form-control form-control-sm mb-4" rows="6" style="max-width: 400px; resize: none" th:field="*{description}" placeholder="Description"></textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--    <hr class="my-2">-->
</header>