<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Edit Customer</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center">Customer NEW</h1>
            <hr class="my-2">
            <form th:action="@{/customer/edit}" method="post" th:object="${customerForm}">
                <div th:replace="~{customer/_form :: form}"></div>
                <div class="form-row align-items-center">
                    <input class="form-control form-control-sm mb-2" type="text" th:field="*{id}" placeholder="Unique Id" readonly th:type="hidden" />
                    <input class="form-control form-control-sm mb-2" type="text" th:field="*{created_at}" placeholder="Unique Id" readonly />
                </div>
                <p> <input type="submit" value="Zapis Zmiany" class="btn btn-sm btn-primary"></p>
            </form>
            <div>
                <a th:replace="~{fragments/button/_button-back :: back(back = '/customer')}"></a>
            </div>
        </div>
    </div>
</body>
</html>