<header th:fragment="confirmDeleteModal"
    xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container" style="text-align: center; padding: 25px;">
                <h1>Delete Status Order</h1>
                <p>Are you sure you want to delete Status Order?</p>
                <p th:text="${'Id: ' + statusOrder.id}"></p>
                <div class="clearfix">
                    <a  class="btn cancelbtn" data-dismiss="modal">Cancel</a>
                    <a th:href="@{'/statusOrder/delete/' + ${statusOrder.id}}" class="btn deletebtn" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</header>