<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>New Status Order</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center">Status Order NEW</h1>
            <hr class="my-2">
            <form th:action="@{/statusOrder/new}" method="post" th:object="${statusOrderForm}">
                <div th:replace="~{setting/statusOrder/_form :: form}"></div>
                <p> <input type="submit" value="Dodaj" class="btn btn-sm btn-primary"></p>
            </form>
            <div>
                <a th:replace="~{fragments/button/_button-back :: back(back = '/statusOrder')}"></a>
            </div>
        </div>
    </div>
</body>
</html>