<header th:fragment="form"
    xmlns:th="http://www.thymeleaf.org">
<!--    <input class="input" type="text" th:field="*{id}" th:readonly="id" th:type="hidden"/>-->
<!--    <input class="input" type="text" th:field="*{created_at}" th:readonly="created_at"/>-->
<!--    <input class="input" type="text" th:field="*{updated_at}" th:readonly="updated_at"/>-->

    <div class="form-row">
        <!-- 1 wiersz -->
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="continent">Kontynent</label>
                <select class="form-control" id="continent" name="continent">
                    <option th:each="continent : ${continents}"
                            th:value="${continent.id}"
                            th:text="${continent.continentPl}">
                        Address
                    </option>
                </select>
            </div>

            <div th:if="${#fields.hasErrors('continents.id')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >
                <span th:errors="*{continents.id}" ></span>
            </div>

            <div class="form-group col-md-4">
                <label for="firstName">Imię</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Wpisz imię" required>
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Nazwisko</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Wpisz nazwisko" required>
            </div>
        </div>

        <!-- 2 wiersz -->
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="phone">Telefon</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="+48 ___ ___ ___" required>
            </div>
            <div class="form-group col-md-6">
                <label for="zipcode">Kod pocztowy</label>
                <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="__-___" required>
            </div>
        </div>

        <!-- 3 wiersz -->
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="address">Adres</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="np. ul. Warszawska 10">
            </div>

            <div class="form-group col-md-4">
                <label for="city">Miasto</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="np. Warszawa">
            </div>
            <div class="form-group col-md-4">
                <label for="country">Kraj</label>
                <select class="form-control" id="country" name="country">
                    <option value="">-- Wybierz kraj --</option>
                    <option value="PL">Polska</option>
                    <option value="DE">Niemcy</option>
                    <option value="UK">Wielka Brytania</option>
                    <option value="US">Stany Zjednoczone</option>
                </select>
            </div>
        </div>

        <!-- 5 wiersz -->

    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="birthdate">Data urodzenia</label>
            <input type="date" class="form-control" id="birthdate" name="birthdate">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 d-flex align-items-center">
            <div class="form-check mt-12">
                <input class="form-check-input" type="checkbox" id="newsletter" name="newsletter">
                <label class="form-check-label" for="newsletter">
                    Zapisz do newslettera
                </label>
            </div>
        </div>
    </div>

    <!-- Pole 6 -->
    <div class="form-group">
        <label for="field6">Uwagi</label>
        <textarea class="form-control" id="field6" rows="3" placeholder="Tutaj możesz dodać dodatkowe informacje"></textarea>
    </div>

    <!-- Przyciski -->
    <div class="d-flex justify-content-end">
        <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>



<!--    <table>-->
<!--        <tr>-->
<!--            <td>-->
<!--               -->
<!--            </td>-->
<!--            <td>-->
<!--                <label>Continent</label><br>-->
<!--                <input class="input" type="text" th:field="*{continent}" placeholder="Continent"/>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Country En</label><br>-->
<!--                <input class="input" type="text" th:field="*{countryEn}" placeholder="Continent En"/>-->
<!--                <div th:if="${#fields.hasErrors('countryEn')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{countryEn}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <label>Country Pl</label><br>-->
<!--                <input class="input" type="text" th:field="*{countryPl}" placeholder="Continent Pl"/>-->
<!--                <div th:if="${#fields.hasErrors('countryPl')}" class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{countryPl}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <label>Capital City</label><br>-->
<!--                <input class="input" type="text" th:field="*{capital_city}" placeholder="Capital City"/>-->
<!--                <div th:if="${#fields.hasErrors('capital_city')}"  class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{capital_city}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Alfa 2</label><br>-->
<!--                <input class="input" type="text" th:field="*{alfa_2}" placeholder="ALFA 2"/>-->
<!--                <div th:if="${#fields.hasErrors('alfa_2')}"  class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{alfa_2}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <label>Alfa 3</label><br>-->
<!--                <input class="input" type="text" th:field="*{alfa_3}" placeholder="ALFA 3"/>-->
<!--                <div th:if="${#fields.hasErrors('alfa_3')}"  class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{alfa_3}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--        <tr>-->

<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Numeric Code</label><br>-->
<!--                <input class="input" type="text" th:field="*{numeric_code}" placeholder="First Name"/>-->
<!--                <div th:if="${#fields.hasErrors('numeric_code')}"  class="alert alert-danger alert-sm" role="alert" style="padding: 0px 10px 0px 10px" >-->
<!--                    <span th:errors="*{numeric_code}" ></span>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <label>ISO Code</label><br>-->
<!--                <input class="input" type="text" th:field="*{iso_code}" placeholder="iso code"/>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Exist</label><br>-->
<!--                <input class="input" type="checkbox" th:field="*{exists}" placeholder="exist"/>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label>Description</label><br>-->
<!--                <div>-->
<!--                    <textarea class="input" th:field="*{description}" placeholder="Description"></textarea>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
</header>