<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Country New</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <section class="hero py-5">
        <div class="card-header bg-light">
            <h5 class="mb-0">Edycja Państwa</h5>
        </div>
        <div class="container">
            <div class="card-body">
                <form th:action="@{/country/edit}" method="post" th:object="${countryForm}">
                    <div th:replace="~{country/_form :: form}"></div>
<!--                    <p> <input type="submit" value="Zapisz Zmiany" class="btn btn-sm btn-primary"></p>-->
                    <div class="d-flex justify-content-end">
<!--                        <button type="reset" class="btn btn-outline-secondary mr-2">Wyczyść</button>-->
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>