<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Coin Currency</title>
</head>
<body>
    <div layout:fragment="content" class="container">

        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center">Coin</h1>
            <hr class="my-2">
            <div th:replace="~{fragments/_flag :: flag(country = ${currency.countries.countryEn})}"></div>
            <hr class="my-2">
            <div style="text-align: center">
                <h3 th:text="${currency.currencySeries}"></h3>
            </div>
            <hr class="my-2">
            <H3>Ilość monet - [[${coins.size}]]</H3>
            <hr class="my-2">
            <div class="container" style="display: inline-block">
                <a th:href="@{'/coin/new/?curId=' + ${currency.id}}" class="btn btn-sm btn-primary" style="float: left">Add new Coin</a>
                <a th:replace="~{fragments/button/_button-back :: back(back = '/coin/currency/' + ${currency.countries.countryEn})}"></a>
            </div>
            <hr class="my-2">
            <div class="container">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>Lp:</th>
                        <th>Id</th>
                        <th>Denomination</th>
                        <th>Currency</th>
                        <th>Status</th>
                        <th>Image</th>
                        <th style="width: 156px">Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    <Block th:each="coin, i : ${coins}">
                        <tr>
                            <td th:text="${i.index +1}"></td>
                            <td th:text="${coin.id}"></td>
                            <td th:text="${#numbers.formatDecimal(coin.denomination,1,2)}"></td>
                            <td th:text="${coin.nameCurrency}"></td>
                            <td th:text="${coin.statuses.status}"></td>
                            <td class="p-0 m-0" style="width: 100px">
                                <div style="display: flex; justify-content: center">
                                    <div th:replace="~{fragments/_image-small :: image-small(image = ${coin.aversPath})}"></div>
                                    <div th:replace="~{fragments/_image-small :: image-small(image = ${coin.reversePath})}"></div>
                                </div>
                            </td>
                            <td class="pt-1 pb-1">
                                <!--                            <a th:href="@{'/coin/show/' + ${coin.id}}" class="btn btn-sm btn-info" style="font-size: 10px">SHOW</a>-->
                                <a th:replace="~{fragments/button/_button-show_icon_small :: show_icon_small(show = '/coin/show/' + ${coin.id})}"></a>
                                <!--                            <a th:href="@{'/coin/edit/' + ${coin.id}}" class="btn btn-sm btn-primary" style="font-size: 10px">EDIT</a>-->
                                <a th:replace="~{fragments/button/_button-edit_icon_small :: edit_icon_small(edit = '/coin/edit/' + ${coin.id})}"></a>
                                <!--                            <a th:href="@{'/coin/delete/' + ${coin.id}}" class="btn btn-sm btn-danger" style="font-size: 10px">DELETE</a>-->
                                <a th:replace="~{fragments/button/_button-delete_icon_small :: delete_icon_small(delete = '/coin/delete/' + ${coin.id})}"></a>

                            </td>
                        </tr>
                    </Block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>