<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Coin Country</title>
</head>

<body>

<div layout:fragment="content">

    <section class="jumbotron bg-success-subtle">

        <div class="container">

            <h1 class="display-4 text-center">
                Coin Country
            </h1>

            <hr class="my-3">

            <form th:action="@{/coin}"
                  method="get"
                  class="form-inline my-3">

                <input type="text"
                       name="keyword"
                       th:value="${keyword}"
                       class="form-control form-control-sm mr-2"
                       placeholder="Search country..."
                       aria-label="Search">

                <button class="btn btn-success btn-sm"
                        type="submit">
                    Search
                </button>

            </form>

            <hr class="my-3">

            <div class="row g-3">

                <th:block th:each="country : ${countries}">

                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3">

                        <div class="card h-100 shadow-sm border-0">

                            <div class="card-body text-center">

                                <a th:href="@{/coin/currency/{countryEn}(countryEn=${country.countryEn})}"
                                   class="text-decoration-none text-dark">

                                    <img th:src="@{'/images/flags/' + ${country.countryEn} + '.png'}"
                                         th:alt="${country.countryEn}"
                                         class="img-fluid mb-2"
                                         style="max-height: 60px">

                                    <div class="small fw-bold"
                                         th:text="${country.countryEn}">
                                    </div>

                                </a>

                            </div>

                        </div>

                    </div>

                </th:block>

            </div>

        </div>

    </section>

</div>

</body>
</html>


<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<!--      layout:decorate="~{layouts/layout}">-->
<!--<head>-->
<!--    <title>Country</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div layout:fragment="content">-->
<!--        <div class="jumbotron" style="background: #53b2ff87">-->
<!--            <section class="hero">-->
<!--                <div class="container">-->
<!--                    <h1 class="display-4" style="text-align: center">Coin Country</h1>-->
<!--                    <hr class="my-2">-->
<!--                    <form th:action="@{/coin/search}" method="post" class="form-inline my-2 my-lg-0">-->
<!--                        <input type="text" name="keyword" th:value="${keyword}" class="form-control mr-sm-2 input-group-sm" placeholder="Search" aria-label="Search">-->
<!--                        <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" style="background: lightgreen" type="submit">Search</button>-->
<!--                    </form>-->
<!--                    <hr class="my-2">-->
<!--                    <div class="container">-->
<!--                        <div class="row">-->
<!--                            <Block th:each="country : ${countries}">-->
<!--                                <div class="col-sm-2 card-body justify-content-between align-items-center" style="width: 170px">-->
<!--                                    <div calss="container" style="margin: 15px; width: 160px">-->
<!--                                        <a th:href="@{'/coin/currency/' + ${country.countryEn}}">-->
<!--                                            <img th:src="@{'/images/flags/' + ${country.countryEn} + '.png'}" style="width: 80px; max-height: 60px"/><br>-->
<!--                                            <span th:text="${country.countryEn}" style="font-size: small"></span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </Block>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->