<header th:fragment="confirmDeleteModal"
    xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container" style="text-align: center; padding: 25px;">
                <h1>Delete Making</h1>
                <p>Are you sure you want to delete Making?</p>
                <p th:text="${'Id: ' + making.id}"></p>
                <p th:text="${'Name: ' + making.making}"></p>
                <div class="clearfix">
                    <a  class="btn cancelbtn" data-dismiss="modal">Cancel</a>
                    <a th:href="@{'/making/delete/' + ${making.id}}" class="btn deletebtn" >Delete</a>
<!--                    <a th:href="@{'/making/delete/' + ${making.id}}" class="btn btn-sm btn-danger" style="font-size: 10px">Delete</a>-->
                </div>
            </div>
        </div>
    </div>
</header>