<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Pecunia Spring</title>
</head>
<body>
    <div layout:fragment="content">
<!--        <div th:if="${rateCurrencyTableA.exchange} != null" style="background: aquamarine; text-align: center">-->
        <div th:if="${rateCurrencyTableA.exchange} != null" style="background: aquamarine; text-align: center">
            <block th:each=" rate : ${rateCurrencyTableA.exchange.rates}">
                <span>[[${rate.cod}]]: [[${rate.mid}]] </span>
            </block>
        </div>


        <section class="hero">
            <div class="container">
                <h1 class="mb-4">Banknotes & Coins of the World</h1>
<!--                <p class="lead mb-5">Odkryj unikalne banknoty, monety oraz papiery wartościowe z całego świata</p>-->
                <img th:src="@{https://www.mediafire.com/convkey/2c06/s3ou244w2vkt7ncag.jpg}" alt="Banknote example">
            </div>
        </section>

        <section class="hero">
<!--            <div class="row row-cols-1 row-cols-sm-2">-->
<!--                <div class="col field" style="float: left; padding: 10px 10px 10px 10px">-->
<!--    &lt;!&ndash;                <img src="https://dub01pap001files.storage.live.com/y4md3w1qi0YL5yavfhXUFN-NaDSWmpYX8dP-eBdmw0DFcLLvqqroXSozwRBMwyYMXuCz7ysZe0g7xKyCbEbrK-sssY0jYUUSCCHE4k_CwNtyEZbVFW_t9i-86AxZlqTuioEn6irCkrF9GMXA46Mnl_3M8ThY5KdpUQD2x-YtkM6AEXosOITvadBqgRchDOsdJsKfQz9WbG8L3WMya1uqbGpgw?encodeFailures=1&width=1626&height=837" style="max-width: 100%; max-height: 350px"/>&ndash;&gt;-->
<!--                    <img src="https://www.mediafire.com/convkey/2c06/s3ou244w2vkt7ncag.jpg" style="max-width: 100%; max-height: 350px"/>-->
<!--                </div>-->
<!--                <div class="col field" style="float: left; padding: 10px 10px 10px 10px">-->
<!--                    <img src="https://www.mediafire.com/convkey/df70/hvm3v4xwhcls2uzag.jpg" style="max-width: 100%; max-height: 350px"/>-->
<!--                </div>-->
<!--            </div>-->
        </section>
        <!-- CARDS SECTION -->
        <section class="py-5">
            <div class="container">
                <div class="row">

                    <!-- NOTE -->
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img th:src="@{https://www.mediafire.com/convkey/07c4/53erl3cpqv1vxhoag.jpg}" class="card-img-top" alt="Note">
                            <div class="card-body">
                                <h5 class="card-title">Note</h5>
                                <p class="card-text">Opis banknotów świata. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="/note" class="btn btn-primary">Zobacz więcej</a>
                            </div>
                        </div>
                    </div>

                    <!-- COIN -->
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img th:src="@{https://www.mediafire.com/convkey/55d8/mhn2psyv1cdmzxjag.jpg}" class="card-img-top" style="width: 50%" alt="Coin">
                            <div class="card-body">
                                <h5 class="card-title">Coin</h5>
                                <p class="card-text">Monety historyczne i współczesne. Cras maximus ornare condimentum.</p>
                                <a href="/coin" class="btn btn-primary">Zobacz więcej</a>
                            </div>
                        </div>
                    </div>

                    <!-- OTHER -->
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img th:src="@{https://www.mediafire.com/convkey/da4e/9eorwek017ev96sag.jpg}" class="card-img-top" alt="Other">
                            <div class="card-body">
                                <h5 class="card-title">Other</h5>
                                <p class="card-text">Inne cenne papiery, obligacje i medale kolekcjonerskie.</p>
                                <a href="/other" class="btn btn-primary">Zobacz więcej</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>
</html>