<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>About</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="container" style="text-align: center">
        <img src="images/pecunia.png" style="width: 100px"/>
        <img src="images/logo2.png" style="width: 15%"/>

    </div>
    <div class="jumbotron">
        <h1 th:text="${#dates.format(standardDate, 'yyyy-MM-dd HH:mm')}" style="text-align: center"></h1>
        <h1 th:text="${metalRate}" style="text-align: center"></h1>
    </div>
</div>
</body>
</html>