<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Metal Price</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="container" style="text-align: center">
        <img src="images/pecunia.png" style="width: 100px"/>
        <img src="images/logo2.png" style="width: 15%"/>

    </div>
    <div class="jumbotron">
        <H1 style="text-align: center">------- MANEY METAL --------</H1>
        <div th:if="${rates != null}" style="text-align: -moz-center">
            <h4 th:text="${rates.getTime()}"></h4>
            <div style="display: flex; justify-content: center; align-items: center">
                <table class="table table-bordered table-hover table-sm" style="width: auto">
                    <thead class="thead-dark">
                        <tr style="width: 300px">
                            <td>Name</td>
                            <td>Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        <Block th:each="rate, i : ${rates.getMoneyMetalList()}">
                            <tr th:class="${rate.getName()}">
                                <td th:text="${rate.getName()}" style="text-align: right; padding-left: 10px"></td>
                                <td th:text="${#numbers.formatDecimal(rate.getPrice(),1,2,'COMMA')}" style="text-align: right; padding-left: 10px"></td>
                            </tr>
                        </Block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>